:root {
    --container-gap: 20px;
    --container-padding: 15px;
}

.container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--container-gap);
}

/* display */

.display-container {
    flex-grow: var(--paper-max-width);
    flex-basis: var(--paper-min-width);

    height: fit-content;

    display: flex;
    flex-flow: column wrap;

    gap: var(--container-gap);

    position: relative;
    top: 0;
    left: 0;
}

.display-base {
    width: 100%;
    height: fit-content;
}

.display {
    padding: var(--container-padding);

    background-color: var(--background-color);

    border-radius: var(--paper-border-radius);

    overflow: hidden;

    border-bottom: 1px solid var(--background-color-active);
}

/* options */

.options-container {
    --options-container-nothing-height: 100px;

    flex-grow: 1;
    flex-basis: var(--paper-min-width);

    height: var(--options-container-nothing-height);

    padding: var(--container-padding);

    background-color: var(--background-color);

    border-bottom: 1px solid var(--background-color-active);
    border-radius: var(--paper-border-radius);

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

.options-container:empty:after {
    content: 'nothing!';
    text-align: center;
    line-height: calc(var(--options-container-nothing-height) - var(--container-padding) * 2);

    color: gray;
}

.options-container:has(*) {
    height: fit-content;
}
