.input {
    width: 100%;
    height: 40px;

    padding: 2px 17px;

    border: 1px solid var(--background-color);
    border-bottom-color: var(--background-color-active);
    border-radius: var(--paper-border-radius);

    background-color: var(--background-color);
    
    transform: translateX(0);
    transition: transform 0.12s;
}

.input:focus {
    outline: none;
    box-shadow: none;

    border: 1px solid gray;

    transition: border-color var(--transition-speed), transform 0.12s;
}

.input.warning:focus {
    border-color: red;
}

.input::placeholder {
    color: rgb(117, 117, 117);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
