:root {
    --paper-max-width: 960px;
    --paper-min-width: 300px;
    --paper-padding: 20px;
    --paper-border-radius: 20px;
}

#page {
    width: calc(100% - var(--nav-width));
    margin-top: var(--header-height);
    margin-left: var(--nav-width);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 14px;
}

.paper {
    --paper-margin-vertical: 20px;

    max-width: calc(var(--paper-max-width) + var(--paper-padding) * 2);
    min-width: calc(var(--paper-min-width) + var(--paper-padding) * 2);
    width: 90%;
    min-height: calc(100vh - var(--header-height) - (var(--paper-margin-vertical) * 2));

    margin: var(--paper-margin-vertical) 0;
    padding: var(--paper-padding);

    /* border-bottom: 1px solid var(--background-color-active); */
    border-radius: var(--paper-border-radius);

    background-color: var(--background-color-hover);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
