:root {
    --nav-native-width: 200px;

    --nav-width: var(--nav-native-width);
}

:root:has(nav#menu.short),
:root:has(nav#menu.icon)
 {
    --nav-width: 75px;
}

:root:has(nav#menu.none) {
    --nav-width: 0;
}

/* menu */

nav#menu {
    width: var(--nav-width);
    height: calc(100dvh - var(--header-height));
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 100000;
}

nav#menu.none {
    display: none;
}

nav#menu.none.open,
nav#menu.icon.open
{
    display: block;
    width: 100%;
    backdrop-filter: blur(10px);
}

/* wrap */

#menu-wrap {
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

nav#menu.none.open > #menu-wrap,
nav#menu.icon.open > #menu-wrap
 {
    width: var(--nav-native-width);
    background-color: var(--background-color);
    box-shadow: 20px 0px 20px var(--background-color);
}

/* top */

#menu-top {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column wrap;
    gap: 6px;
}

#menu-top > a {
    --padding-vertical: 10px;
    --padding-horizontal: 10px;
    
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: var(--padding-vertical) var(--padding-horizontal);
    border: none;
    border-radius: var(--button-border-radius);
    color: var(--color);
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    white-space: 'nowrap';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
    user-select: none;
    cursor: pointer;
    transition: background-color var(--transition-speed), padding var(--transition-speed);
}

#menu-top > a:hover {
    background-color: var(--background-color-hover);
}

#menu-top > a:active, #menu-top > a.active {
    padding-left: 12px;
    background-color: var(--background-color-active);
}

nav#menu.short #menu-top > a,
nav#menu.icon:not(.open) #menu-top > a
 {
    padding: var(--padding-horizontal);
    justify-content: center;
    font-size: 0;
}

/* bottom */

#menu-bottom {
    margin-bottom: 20px;
    text-align: center;
    color: gray;
    user-select: none;
}

#menu-bottom > a {
    color: gray;
    text-decoration: none;
    transition: color var(--transition-speed);
}

#menu-bottom > a:hover {
    color: var(--color);
    text-decoration: none;
}
