:root {
    --container-gap: 20px;
    --container-padding: 15px;
}

.container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--container-gap);
}

/* display */

.display-container {
    flex-grow: calc(var(--paper-max-width) / 1px);
    flex-basis: var(--paper-min-width);

    height: fit-content;

    display: flex;
    flex-flow: column wrap;

    gap: var(--container-gap);

    position: relative;
    top: 0;
    left: 0;
}

.display {
    width: 100%;
    height: fit-content;

    padding: var(--container-padding);

    background-color: var(--background-color);

    border-radius: var(--paper-border-radius);

    overflow: hidden;
}

.test {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

/* options */

.options-container {
    flex-grow: 1;
    flex-basis: var(--paper-min-width);

    height: fit-content;

    padding: var(--container-padding);

    background-color: var(--background-color);

    border-radius: var(--paper-border-radius);

    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

/* option */

.option {
    /* max-width: var(--paper-min-width); */
    width: 100%;
    height: 100px;

    border-radius: 5px;

    background-color: var(--background-color-hover) !important;

    cursor: grab;
}

.option.grabbing {
    cursor: grabbing;
}

.options-container > .option:first-child {
    border-top-left-radius: var(--paper-border-radius);
    border-top-right-radius: var(--paper-border-radius);
}

.options-container > .option:last-child {
    border-bottom-left-radius: var(--paper-border-radius);
    border-bottom-right-radius: var(--paper-border-radius);
}

.option.generate {
    height: 60px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
