:root {
    --option-min-height: 100px;
    --option-padding: 12px;

    --option-svg-size: calc(var(--option-min-height) - (var(--option-padding) * 2) - var(--paper-item-border-size));
}

.option {
    /* max-width: var(--paper-min-width); */
    width: 100%;
    /* height: 100px; */
    min-height: var(--option-min-height);
    height: fit-content;
    
    padding: var(--option-padding);

    background-color: var(--background-color-hover) !important;

    border-bottom: var(--paper-item-border);
    border-radius: 5px;

    display: flex;
    flex-flow: row wrap;
    gap: 10px;

    position: relative;

    overflow: hidden;
}

button.option:active {
    border: none;
    border-top: var(--paper-item-border);
}

.option.grab {
    cursor: grab;
}

.option.grabbing {
    cursor: grabbing;
}

.option:first-child {
    border-top-left-radius: var(--paper-border-radius);
    border-top-right-radius: var(--paper-border-radius);
}

.option:last-child {
    border-bottom-left-radius: var(--paper-border-radius);
    border-bottom-right-radius: var(--paper-border-radius);
}

.option.generate {
    height: 60px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* in option */

.option > svg {
    width: var(--option-svg-size);
    height: var(--option-svg-size);

    filter: drop-shadow(0px 0px 1px #c7c7c7);
}

.option-dirs {
    overflow: hidden;
    overflow-x: auto;

    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    gap: 5px;
}

.option-dirs:-webkit-scrollbar {
    display: none;
}

.option-dirs .dir {
    padding: 6px;
    padding-bottom: calc(6px - var(--paper-item-border-size));
}
