/* GCanvas */

.display-cancel {
    padding: 5px;

    border-radius: 50%;

    background-color: var(--background-color-translucent);

    color: gray;
    font-size: 0;
    
    display: none;

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 99991;

    transition: none;
}

/* GDisplay */

.direction-settings {
    display: flex;
    flex-flow: column wrap;
    gap: calc(var(--container-gap) / 2);
}

/* GSetups */

.setups {
    color: gray;

    display: none;
    justify-content: space-between;
}

.naming {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.setups > button {
    background-color: var(--background-color);
}

.setups > button:active {
    border: none;
    border-top: var(--paper-item-border);
}

/* GDirs */

.dirs {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.direction-settings:has(> .dirs > *) > * {
    display: flex;
}

.dir {
    width: fit-content;
    height: fit-content;

    padding: 8px;

    border-bottom: var(--paper-item-border);
    border-radius: var(--paper-border-radius);

    color: gray;
    background-color: var(--background-color-hover);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dir.translucent {
    background-color: var(--background-color-translucent);
}
