.option.usage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.options.divider {
    height: 2px !important;
    min-height: auto !important;
    padding: 0 !important;
}

.option-title {
    width: 100%;
    height: fit-content;

    padding: 5px 10px;
}

.option-setup {
    width: 100%;
    height: fit-content;

    padding: 5px 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.option-setup span {
    font-weight: 300;
}
