* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Pretendard', "Segoe UI", Arial, "Malgun Gothic", Gulim, sans-serif;
    font-size: 75%;
    font-weight: 600;
}


::selection {
    background-color: var(--selection);
}
