:root {
    --header-height: 50px;
}

header {
    width: 100%;
    height: var(--header-height);
    padding: 0 20px;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 2; */
}

#title {
    font-size: 16px;
}
