#page {
    width: calc(100% - var(--nav-width));
    margin-top: var(--header-height);
    margin-left: var(--nav-width);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 14px;
}

.paper {
    --paper-margin-vertical: 20px;

    max-width: 1000px;
    width: 90%;
    min-height: calc(100vh - var(--header-height) - (var(--paper-margin-vertical) * 2));

    margin: var(--paper-margin-vertical) 0;
    padding: 20px;

    border-radius: 20px;

    background-color: var(--background-color-hover);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
